<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<h3>About Greenpoint Microblog</h3>

<p>Greenpoint Microblog is a blog of tiny posts on the subject of Greenpoint, Brooklyn. This app was built as a first project by Heidi Williams-Foy for the Web Development Immersive, General Assembly New York, class of summer/fall 2014. 

Relevant documentation, code, etc. can be found on <a href="https://github.com/HeidiW/wdi_rosencrantz_project_one/tree/master/greenpoint_microblog">Github</a>.
</p>
</body>
</html>
