<!DOCTYPE html>
<html>
<head>
	<title>Greenpoint Microblog</title>
	<link href="http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container">
		<nav class="site-navigation">
			<%= link_to "Home", root_path %>    
			<%= link_to "Posts",  post_path %>
			<%= link_to "About", help_path %>
		</nav>

		<header class="site-header">
			<h1>Greenpoint Microblog</h1>

			<h2>Only the things you really need to know about Greenpoint, Brooklyn.</h2>
		</header>

		<%= yield %>
	</div>


</body>
</html>
