<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Greenpoint Microblog</title>
</head>
<body>
	<h1>Welcome to the Greenpoint Microblog</h1>
 	<div class="container">
		<nav class="site-navigation">
			<%= link_to "Home", root_path %>    
			<%= link_to "Create A Post",  post_path %>
			<%= link_to "Images",  image_path %>
			<%= link_to "About", help_path %>
		</nav>
</body>
</html>