<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Greenpoint Microblog</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>Welcome to the Greenpoint Microblog</h1>
 	<div id="nav">
  <ul>
<li><a href="/">Home</a></li>
<li><a href="/posts/new">Create A Post</a></li>
<li><a href="/subscribe">Subscribe</a></li>
<li><a href="/about"></a>About</li>
</ul>
</div>
</body>
</html>