<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Greenpoint Microblog</title>
</head>
<body>
  <a href="/posts">See All Posts</a>
  <a href="/authors">See All Authors</a>
</body>
</html>