<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Subscriber</title>
  	<link rel="stylesheet" href="style.css">
</head>
<body>

  <form action="/subscirbers" method="POST">
    <input type="text" name="name" placeholder="Name" />
    <!-- type=email is backwards-compatible, now form is future proof -->
    </select>
    <button>Submit</button>
  </form>
</body>
</html>