<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="./stylesheets/style.css">
   <h1>Greenpoint Microblog</h1>
  <div id="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/feed">Latest Posts</a></li>
      <li><a href="/posts/new">Create A Post</a></li>
      <li><a href="/subscribe">Subscribe</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
  <title>New Subscriber</title>
</head>
<body>

  <form action="/subscribers" method="POST">
    <input type="text" name="name" placeholder="Name" />
    <!-- type=email is backwards-compatible, now form is future proof -->
    </select>
    <button>Submit</button>
  </form>
</body>
</html>