<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>New Post</title>
</head>
<body>
  <form action="/posts" method="POST">
    <select name="author_id">
      <% authors.each do |author| %>
        <option value="<%= author["id"] %>"><%= author["name"] %></option>
      <% end %>      
    </select>
     <div>
        <label for="name">Name:</label>
        <input type="text" id="name" />
    </div>
    <div>
        <label for="headline">Headline:</label>
        <input type="headline" id="headline" />
    </div>
    <div>
        <label for="copy">Write your post:</label>
        <textarea id="copy" ></textarea>
    </div>
    
    <div class="button">
        <button type="submit">Publish!</button>
    </div>
  </form>
</body>
</html>


   