<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Become a Contributor</title>
  	<link rel="stylesheet" href="style.css">
  	<div id="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/feed">Latest Posts</a></li>
      <li><a href="/posts/new">Create A Post</a></li>
      <li><a href="/subscribe">Subscribe</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</head>
<body>
  <form action="/authors" method="POST">
    <input type="text" name="name" placeholder="Name" />
    <!-- type=email is backwards-compatible, now form is future proof -->
    </select>
    <button>Submit</button>
  </form>
</body>
</html>