<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>New Post</title>
</head>
<body>
  <form action="/posts" method="POST">
    <select name="author_id">
      <% authors.each do |author| %>
        <option value="<%= author["id"] %>"><%= author["name"] %></option>
      <% end %> 
      <option value="new">New author...</option>     
    </select>
     <div>
        <label for="name">Name (if new author):</label>
        <input type="text" name="name" id="name" />
    </div>
    <div>
      <label for="handle">Handle (if new author):</label>
      <input type="text" name="handle" id="handle" />
    </div>
    <div>
        <label for="headline">Headline:</label>
        <input type="text" name="headline" id="headline" />
    </div>
    <div>
        <label for="copy">Write your post:</label>
        <textarea name="copy" id="copy" ></textarea>
    </div>

    <div>
      <label for="tag">Tag:</label>
      <input type="text" name="tag" id="tag"></input>
    </div>
    
    <div class="button">
        <button type="submit">Publish!</button>
    </div>
  </form>
</body>
</html>


   