<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/style.css">
    <h1>Greenpoint Microblog</h1>
  <div id="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/feed">Latest Posts</a></li>
      <li><a href="/posts/new">Create A Post</a></li>
      <li><a href="/subscribe">Subscribe</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
  <title>Become A Subscriber</title>
</head>
<body>
  <h1>Become A Suscriber</h1>
  <form action="/subscribe" method="POST">
    <h3>Join and receive updates to your mobile device</h3>
     <div>
        <label for="name">Name:</label>
        <input type="text" id="name" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" />
    </div>
    <div>
        <label for="phone_number">Mobile number:</label>
        <input type="phone_number" id="phone_number" />
    </div>
    <div class="button">
        <button type="submit">Submit</button>
    </div>
  </form>
</body>
</html>

